* {
  box-sizing: border-box;
}
body {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
}

.container {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  position: relative;
  empty-cells: show;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--element-size));
  grid-template-rows: repeat(var(--grid-size), var(--element-size));
  gap: var(--gap) var(--gap);
  padding: var(--gap);
  background-color: #bbada0;
}

.empty-block {
  background-color: #cdc1b4;
}

.tile {
  --gap: 15px;
  --element-size: 100px;
  --x: 0;
  --y: 0;
  position: absolute;
  /* pagal koordinates paskaiciuoja, kur turi buti elementai x ir y atxzvilgiu */
  top: calc((var(--element-size) + var(--gap)) * var(--y) + var(--gap));
  left: calc((var(--element-size) + var(--gap)) * var(--x) + var(--gap));
  transition: 800ms ease-in;
  animation: appearing 1000ms ease-in;

  width: var(--element-size);
  height: var(--element-size);
  font-size: calc(var(--element-size) / 2);
  font-weight: 600;

  /*skaičius pozicionuoja centre */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.box0 {
  background-color: #cdc1b4;
}
.box2 {
  background-color: #eee4da;
}
.box4 {
  background-color: #eee1c9;
}
.box2,
.box4 {
  color: #776e65;
}
.box8 {
  background-color: #f3b27a;
  color: #f9f6f2;
}

.box16 {
  background-color: #f69664;
  color: #f9f6f2;
}
.box32 {
  background-color: #f77c5f;
  color: #f9f6f2;
}
.box64 {
  background-color: #f75f3b;
  color: #f9f6f2;
}
.box128 {
  background-color: #edd073;
  color: #f9f6f2;
}
.box256 {
  background-color: #edcc62;
  color: #f9f6f2;
}
.box512 {
  background-color: #edc950;
}
.container .box1024 {
  background-color: #edc53f;
  font-size: 40px;
}
.container .box2048 {
  background-color: #edc22e;
  color: #f9f6f2;
  font-size: 40px;
}

.container .box4096 {
  background-color: #dfb52a;
  color: #f9f6f2;
  font-size: 40px;
  line-height: calc();
}

@keyframes appearing {
  0% {
    scale: 0.5;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.bandom {
  position: absolute;
  top: 50px;
  left: 100px;
  transition: 100ms ease-in-out;
  width: 50px;
  height: 50px;
  background-color: red;
}
